.logo {
  background: var(--gray-700);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.textAdd {
  width: 500px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  padding: 10px;
  color: var(--white);
}

.btnAdd {
  width: 90px;
  height: 54px;
  border-radius: 8px;
  background: var(--blue-500);
  border: none;
  padding: 10px;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5rem;
}

.container {
  display: flex;
  justify-content: center;
}

.sub {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.texto {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.nome1 {
  font-size: 16px;
  font-weight: 700;
  color: var(--blue-100);
}

.num {
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  background: var(--gray-400);
  color: var(--white);
  padding: 4px;
  border-radius: 10%;
}

.nome2 {
    font-size: 16px;
    font-weight: 700;
    color: var(--purple-100);
  }
